@media only screen and (max-width:1366px) {
    
    .nome-loja{
        left: 20px;
    }
    .nav-home{
        left: 513px;
    }
    .nav-produtos{
        left: 610px;
    }
    
    .nav-contato{
        left: 741px;
    }

    .bag{
        left: 1286px;
    }

    .div-primary{
        left: 112px;
    }

    .div-secondary{
        left: 193px;
    }
    .cores li:nth-child(1){
        left: 40px;
    }
    .cores li:nth-child(2){
        left: 80px;
    }

    .cores li:nth-child(3){
        left: 120px;
    }
    .previa-produto li{
        top: 154px;
    }

    .contato{
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    * {
        position: relative;
    }

    body {
        width: 98%;
        margin: 5px 5px;
    }
    .nav{
        display: flex;
        width: 100%;
    }
    .nome-loja{
        display: none;
    }
    .nav-home{
        display: none;
    }
    .nav-produtos{
        display: none;
    }
    
    .nav-contato{
        display: none;
    }

    .back{
        width: 20px;
        left: 78%;
        right: 11.68%;
        top: 50px;
        bottom: 90.42%;
    }

    .next{
        width: 20px;
        left: 85%;
        right: 8.18%;
        top: 50px;
        bottom: 90.42%;
    }

    .bag{
        left: 20px;
    }

    .div-primary{
        display: flex;
        top: 25px;
        left: 0px;
        width: 100%;
        height: 428px;
    }

    .div-secondary{
        display: flex;
        top: 100px;
        left: 0px;
        width: 100%;
        height: 794px;
    }
    .div-secondary h1{
        transform: translate(-50%);
        left: 50%;
    }
    .div-secondary-ajustes{
        left: 0px;
        top: 400px;
    }

    .div-secondary-h1{
        left: 48px;
        top: 16px;
    }

    .preco{
        width: 56px;
        height: 25px;
        left: 20px;
        top: 140px;
        font-size: 10px;
        line-height: 25px;
    }

    .div-primary-proximo{
        width: 60px;
        height: 18px;
        left: 72%;
        top: 14px;
        font-size: 15px;
        line-height: 18px;
    }

    .div-primary-produtos {
        width: 147px;
        height: 38px;
        top: 13px;
        transform: translate(-50%);
        left: 50%;
        font-size: 32px;
        line-height: 38px;
    }

    .cores{
        left: 0px;
    }
 
    .div-secondary-detalhes{
        top: 665px;
    }
    .comprar-button{
        top: 336px;
        left: 25%;
    }
    .previa-produto{
        top: -30%;
        transform: translate(-50%);
        left: 40%;
    }

    .produto-img{
        width: 300px;
        height: 180px;
        left: 50%;
        transform: translate(-50%);
        top: 103px;
    }

    .contato{
        visibility: hidden;
        flex-direction: column;
        width: 50%;
        align-items: flex-start;
        justify-content: center;
    }
    .carrinho {
        display: none;
    }
    .hamburguer{
        display: block;
        position: absolute;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        right: 10px;
        top: 10px;
    }
    
    .hamburguer .line{
        display: block;
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin-block: 10px;
        border-radius: 4px;
        transition: transform .5s;
        opacity: .25s;
    }
    
    .hamburguer.active .line:nth-child(1){
        transform: translateY(13px)
        rotate(45deg);
    }
    
    .hamburguer.active .line:nth-child(2){
        opacity: 0;
    }
    
    .hamburguer.active .line:nth-child(3){
        transform: translateY(-13px)
        rotate(-45deg);
    }
}

@keyframes run {
    0%{
        left: -100%;
    }
    100%{
        
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}