@import url("https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Rubik:wght@300;400&display=swap");

body {
    background-color: black;
    margin: 10px;
    background-size: 100%;
}

.nav {
    position: absolute;
    width: 100%;
    height: 74px;
    left: 0px;
}

.nome-loja {
    position: absolute;
    width: 255px;
    height: 46px;
    left: 121px;
    top: 14px;
    text-decoration: none;
    font-family: "Jura";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.nav-home {
    position: absolute;
    width: 72px;
    height: 28px;
    left: 797px;
    top: 23px;
    text-decoration: none;
    font-family: "Jura";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.nav-produtos {
    position: absolute;
    width: 110px;
    height: 28px;
    left: 894px;
    top: 23px;
    text-decoration: none;
    font-family: "Jura";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.nav-contato {
    position: absolute;
    width: 97px;
    height: 28px;
    left: 1025px;
    top: 23px;
    text-decoration: none;
    font-family: "Jura";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.bag {
    position: absolute;
    height: 30px;
    width: 27px;
    left: 1778px;
    top: 22px;
    border-radius: 0px;
}

.div-primary {
    background-image: url(img/img2.jpg);
    position: absolute;
    width: 1142px;
    height: 428px;
    left: 389px;
    top: 112px;
    border-radius: 50px;
    animation-duration: 1s;
    animation-name: run;
}

.div-primary-produtos {
    position: absolute;
    width: 320px;
    left: 405px;
    margin: 0px;
    top: 22px;
    font-family: "Jura";
    font-size: 70px;
    color: #ffffff;
}

.div-primary-proximo {
    position: absolute;
    width: 80px;
    height: 24px;
    left: 897px;
    top: 42px;

    font-family: "Jura";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #ffffff;
}

.back {
    position: absolute;
    height: 13px;
    width: 14px;
    left: 997px;
    top: 68px;
    border-radius: 0px;
    cursor: pointer;
}

.next {
    position: absolute;
    height: 13px;
    width: 15px;
    left: 1020px;
    top: 68px;
    border-radius: 0px;
    cursor: pointer;
}

.back:active,
.next:active {
    transition: 0.1s;
    transform: scale(0.6, 0.6);
}

.div-secondary {
    position: absolute;
    width: 977px;
    height: 500px;
    left: 470px;
    top: 261px;
    border-radius: 50px;
    background-image: url(img/img1.jpg);
    animation-duration: 1s;
    animation-name: run;
    animation-delay: 0.1s;
}

.preco {
    position: absolute;
    width: 128px;
    height: 35px;
    left: 60px;
    top: 402px;
    background: #000000;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
}

.contato {
    position: absolute;
    width: 100%;
    height: 242px;
    left: 0px;
    top: 1080px;
    background: #ffffff;
}

.contato a {
    position: absolute;
    font-family: "Jura";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    color: #000000;
    top: 97px;
}
.contato a:nth-child(1) {
    width: 184px;
    left: 139px;
}

.contato a:nth-child(2) {
    width: 151px;
    left: 864px;
}

.contato a:nth-child(3) {
    width: 151px;
    left: 1556px;
}
